.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.App__aside {
  border-right: 1px solid rgba(0, 0, 0, .1);
  width: 20%;
  overflow-y: scroll;
}

.App__main {
  width: 80%;
}

@media all and (max-width: 736px) {
  .App {
    flex-direction: column;
  }

  .App__aside,
  .App__main {
    width: 100%;
  }

  .App__aside {
    order: 1;
  }

  .App__main {
    order: 0;
  }
}